- # Вступление

p Привет. Меня зовут Ян Бернацки. Я занимаюсь веб-разработкой уже более 6-ти лет. Я много верстал, программировал и менеджерил. Сейчас я хочу стать дизайнером.

p Я решил создать этот блог чтобы описывать то, как я решаю проблемы, с которыми сталкиваюсь на работе. Описывание процесса мышления должно структурировать мысли, а также сделать простым его обсуждение.

p Сейчас я работаю в фирме Gistroll и занимаюсь нашими продуктами как совладелец, дизайнер, верстальщик, программист и девопс. Поэтому приходится думать о множестве вещей сразу.
