- # Вступление

p Привет. Меня зовут Ян Бернацки. Я занимаюсь веб-разработкой уже более 6-ти лет. За это время я много верстал, программировал и менеджерил. Сейчас я хочу стать дизайнером.

p Я решил создать этот блог чтобы описывать то, как я решаю проблемы, с которыми сталкиваюсь в работе. Описывание процесса мышления должно структурировать мысли, а также сделать простым его обсуждение.

p Сейчас я работаю в фирме Gistroll и занимаюсь нашими продуктами как совладелец, дизайнер и разработчик, поэтому приходится думать о том как сделать наши продукты успешными, учитывая множество разных бизнес-процессов.
