- # Задача №1. Форма "Поделиться и подписаться"

p Сейчас мы разрабатываем новое СМИ. Чтобы СМИ было успешным важно писать не только интересные статьи, но и эффективно их распостранять. Чтобы статья хорошо распостранялась нужно чтобы читатели рассказывали о ней друзьям.

p Как этого добиться? Обвешивать весь сайт кнопками "поделиться" слишком навязчиво и не эффективно. Нужно в правильный момент предложить читателю поделиться статьей.

p Мы решили попробовать вставить блок шера и подписки под вступительный текст и после всей статьи.

p Наш прошлый вариант располагался только после статьи и выглядел примерно так:

p
  img src="/images/1/before.png"

p Какие с ним проблемы:

ol
  li Пользователь может не доскролить до него (даже если статья ему интересна, он может уйти по ссылке внутри статьи и не вернуться)
  li Блок слишком большой и захламляет страницу

p Вообще, наш идеальный читатель должен зайти на статью, поделиться ей и подписаться на новые.

p Итак, моя задача – сделать новый блок шера и подписки.

p Для начала попробую сделать весь блок компактней. "Поделиться" важнее, чем "подписаться". Поэтому "подписаться" можно спрятать под кнопку. Также лучше переименовать кнопку в "Рассказать", а то слова "поделиться" и "подписаться" начинаются с "под" были довольно похожи:

p
  img src="/images/1/union.png"

p В открытом виде:

p
  img src="/images/1/union-opened.png"

p Делиться статьей можно не только в Facebook но и в ВКонтакте. На ум приходят разные варианты решений:

ol
  li Если пользователь пришел на пост из ВК, то показывать вместо FB кнопку "Рассказать в ВКонтакте".
  li Возможно что даже если пользователь пришел из ВК, то лучше чтобы он все равно делился ссылкой в Facebook и добавлять ничего не надо.

p Что тут выбрать не понятно – нужно смотреть статистику.

p А чтобы собрать статистику можно добавить вторую кнопку к "Рассказать в Facebook" "Рассказать в ВКонтакте". Но тут появляются новые проблемы: во-первых кнопка получается слишком большая и не влезает, во-вторых появляется тавтология рассказать-рассказать. В итоге сделал так:

p
  img src="/images/1/with-vk.png"

p Идея в том что "в" превращается в маркер к слову "Рассказать" и смысл кнопки остается понятен. Но остаётся ли?

p Еще нужно добавить подписку на группы в Facebook и ВК. Проблема с кнопками подписки в том что они разные по форме и цвету и их сложно добавить, сохранив понятную структуру. Поэтому поместил их в отдельные блоки:

p
  img src="/images/1/with-vk-opened.png"

p Также добавил понятные заголовки, объясняющие на что человек подписывается.

p Кнопку "подписаться" в форме сделал серой вместо оранжевой, чтобы не создавать слишком яркое пятно на всем блоке. С серым цветом выглядит спокойнее.

p Вновь взглянув на весь блок понимаю, что, даже закрытый, он не выглядит простым.

p
  img src="/images/1/with-vk.png"

p 3 кнопки разных цветов и размеров сложны для понимания. К тому же по задаче главное действие тут – "Рассказать в Facebook". Поэтому нужно сильнее отделить кнопки поделиться от подписаться (не только оранжевым цветом против синего) и сделать кнопку шера первой.

p
  img src="/images/1/re-arranged.png"

p В открытом виде:

p
  img src="/images/1/re-arranged-opened.png"

p Похоже стало лучше, но теперь открывая "Подписаться" вся форма подписок находится под кнопкой "Рассказать" и "Рассказать" кажется заголовком. Смотрится не логично. Если отцентрировать форму, то будет немного лучше.

p
  img src="/images/1/re-arranged-centered.png"

p Это еще не хорошо, но, кажется, истина где-то рядом.
