- # Интенсив по веб-дизайну. День 2
- # ...
- # 13-01-2014

p Сегодня к нам пришли ребята из LOOK AT ME и дали курсовое задание. Мы будем дизайнить лонгрид на основе материалов LAM.

p Лонгрид – это, по сути, большая статья. В LAM лонгриды – это результат исследования какой-то важной для людей темы.

p На лонгрид тратится очень много сил: собирается и прорабатывается много материала, из него получается огромная статья. Чтобы читатель смог в ней разобраться, статью нужно хорошо задизайнить.

p Задача дизайнера – структурировать информацию и представить ее пользователю самыми удобными образом: понятными текстами, иллюстрациями, инфографикой, видео, различными интерактивными штуками итп. Нужно рассказать историю, которая зацепит читателя и он поймет ее суть.

p Мы выбрали общие темы будущего лонгрида. Моя тема – гики.

p Пообедав, начался воркшоп по креативному мышлению. Начали мы с создания своего проектного скетчбука.

p Проектный скетчбук – это самодельная книжечка, в которой есть вся информация о проекте от начального брифа, до проработанной идеи. В нем нужно проводить исследования, записывать все идеи, собирать решения, заметки, интервью. Так, пролистав скетчбук, можно проследить всю историю развития проекта.

p Важно работать своими руками: клеить, вырезать, рисовать, – так мозг работает намного эффективнее и выдает новые, интересные решения, прокачивается навык творчества.

p
  img src="/images/10/doing-sketchbook.jpg"

p
  img src="/images/10/done.jpg"

p Закончив скетчбук, мы начали разбирать техники поиска идей: Mindmapping и Moodmapping.

p Mindmap – это карта ассоциаций. Есть тема (в моем случае, гики) и нужно быстро записать все ассоциации с ней и ассоциации с ее ассоциациями.

p
  img src="/images/10/mindmap.jpg"

p Ассоциации можно компоновать и получать новые идеи решения задачи. Придумав какое-то интересное решение, можно составить для него Moodmap.

p Moodmap – это карта эмоций. Создавая композицию из картинок, вещей, всего-чего-угодно, можно продумать и понять визуальный образ проекта: какое будет у него настроение, цвета, шрифты, размеры итд.

p Составлять Moodmap будем уже завтра.
