- # Интенсив по веб-дизайну. День 3
- # ...
- # 14-01-2014

p Сегодня мы изучали дизайн-мышление. Тренинг проводили ребята из <a href="http://wonder-full.ru" target="_blank">WONDERFULL</a>.

p Дизайн-мышление – это способ создания продукта, изучая своего пользователя, понимая его проблемы. Дизайн-мышление ставится в противовес "Классическому", когда сначала создается продукт и после впаривается людям.

p Действительно, важно не придумывать решения проблем, которые предполагаешь, что существуют, а сначала провести исследование – поговорить с людьми, провести несколько интервью.

p Везде есть свои тонкости. Чтобы провести интервью, которое даст результат, нужно хорошо к нему подготовиться.

p Во-первых, нужно написать список вопросов. Также нужно подготовить диктофон, найти компаньена, который будет все записывать.

p Во время интервью нужно будет задать все вопросы, но не сразу. Сначала нужно подготовить человека – дать ему расслабиться, поговорить на отвлеченные темы, прийти как-то к теме обсуждения, узнать что он думает итд.

p Я проводил интервью и это оказалось не просто. Я точно не знал вопросы, на которые хочу узнать ответы. Это увело тему разговора в сторону. Еще, в самом начале, пробовал делать какие-то заметки, но это оказалось просто невозможным. Как можно писать, когда человек с тобой разговаривает? Все получается неестественно.

p Весь гайд по процессу лежит на <a href="http://www.slideshare.net/Wonderfull-Lab/ss-27491596" target="_blank">slideshare</a>.

p Во второй половине учебного дня мы разбирались с композицией.

p Композиция управляет поведением пользователя на сайте. Он понимает что важнее, что отностится к одной теме, чего ожидать дальше. С другой стороны, композиция также отвечает за настроение. Композией можно выразить не только статику, динамику, но также легкость, тяжесть, свободу, даже кислость и сладкость!

p Чтобы попробовать как работает композиция, мы вырезали из простой цветной бумаги элементы композиции веб страницы – тексты, картинки, блоки текста и пробовали составлять их.

p Дизайнить сайт из кусочков бумаги очень необычно и интересно. Обрезать "строку текста", чтобы она лучше смотрелась ножницами просто афигенно :)

p
  img src="/images/11/mockup.jpg"

p Весь стол превратился в интереснейшую композицию.

p
  img src="/images/11/desk.jpg"

p И разные цвета на столе раскачивают мозг, чтобы идеи быстрее приходили.

p
  img src="/images/11/colors.jpg"
