- # Интенсив по веб-дизайну. Дни 4-10
- # ...
- # 02-02-2014

p На четвертый день я окончательно выбыл из жизни. Нам выдали бриф и мы работали над ним без сна и отдыха до самого конца следующие 6 дней.

p Нам нужно было сделать лонгрид – большую интересную статью, рассказывающую какую-то историю. За основу можно было брать материалы Look At Me.

p К нам пришли гости: главный редактор и арт-директор Look At Me. Они рассказали как работает редакция, как создаются и выходят статьи.

p Каждый день мы работали над своими статьями, показывая друг другу и преподавателям свои идеи и решения. Все время мы плотно работали над задачами, делая перерывы только на лекции и воркшопы.

p Моя задача и итоговое решение выложены на <a href="https://www.behance.net/gallery/22907219/Longread-uchebnyj-proekt-intensiva-po-veb-dizajnu" target="_blank">Behance</a>.

p Сейчас, спустя две недели, можно трезво взглянуть на проведенное время и выделить самое важное, что дал интенсив:

p Самое важное – это увидеть, как 30 человек рядом с тобой решают ту же, что и ты, задачу. Все люди разные и решают задачи по-своему. Мы слушали как преподаватели разбирают каждую работу, советовались друг с другом. На примере разбора чужих работ можно увидеть как свои ошибки, так и чужие. Это просто невероятный поток бесценных знаний.

p Самое важное в работе дизайнера – это решить главную проблему пользователя. В статье главное не оформление, главное – рассказ. Рассказ должен быть правильно построен. Важна не только структура, важен и читатель: кто он, что он уже знает, что еще нет, что вобще ему интересно. Для удачной статьи нужна плотная совместная работа редактора и дизайнера. Уже после того как рассказ продуман, можно его интересно преподнести, чтобы он был и понятен и интересен.

p Из приглашенных гостей меня поразил Михаил Симаков. Этот человек руководит целым отделом инфографики. Инфографика – невероятно сложное и интересное дело. Чтобы решить задачу, необходимо действительно разобраться в сложной проблеме и представить ее  понятным образом: рассказать сложное просто.

p Его работы занимали призовые места в международных конкурсах, их можно увидеть на <a href="https://www.flickr.com/photos/simakov" target="_blank">Flickr</a>.

p В общем, всем советую ходить на интенсивы. Время, проведенное на них, просто бесценно.
