- # Интенсив по веб-дизайну. Дни 4-10
- # ...
- # 02-02-2015

p На четвертый день я окончательно выбыл из жизни. Нам выдали бриф и мы работали над ним без сна и отдыха до самого конца следующие 6 дней.

p Началось все с того, что к нам пришли гости: главный редактор и арт-директор Look At Me. Они рассказали как работает редакция, как создаются и выходят статьи.

p Они же и дали нам задание: сделать лонгрид – большую интересную статью, рассказывающую какую-то историю. За основу можно было брать их материалы – материалы Look At Me.

p Каждый день мы работали над своими статьями, показывая друг другу и преподавателям свои идеи. Перерывались мы только на лекции приглашенных гостей и воркшопы.

p Моя задача – переделать статью о фантастическом оружии СССР глазами американцев в период холодной войны.<br>Итоговое решение выложено на <a href="https://www.behance.net/gallery/22907219/Longread-uchebnyj-proekt-intensiva-po-veb-dizajnu" target="_blank">Behance</a>.

p Сейчас, спустя две недели, можно трезво взглянуть на проведенное на интенсиве время и выделить самое важное.

p А самое важное – это было увидеть, как 30 человек рядом с тобой решают ту же, что и ты, задачу. Все люди разные и решают задачи по-своему. Мы слушали как преподаватели разбирают каждую работу, советовались друг с другом, обменивались мнениями. На примере разбора чужих работ можно увидеть как свои ошибки, так и чужие. Это просто невероятный поток бесценных знаний.

p Самое важное в работе дизайнера – это решить главную проблему пользователя. В статье главное не оформление, главное – интересный рассказ. Рассказ должен быть правильно построен. Важна не только структура, важен и читатель: кто он, что он уже знает, что еще нет, что вобще ему интересно. Для удачной статьи нужна плотная совместная работа редактора и дизайнера. Нельзя придумать сначала сценарий, а потом оформление. Идеи оформления приходят во время составления сценария и основаны на нем. Так оформление может раскрыть какие-то части рассказа и сделать из этого визуальное "вау".

p Из приглашенных гостей меня поразил Михаил Симаков. Это руководитель целого отдела инфографики. Инфографика – невероятно сложное и интересное дело. Чтобы решить задачу, необходимо действительно разобраться в сложной проблеме и представить ее  понятным образом: рассказать сложное просто.

p Работы Симакова занимали призовые места в международных конкурсах, их можно увидеть на <a href="https://www.flickr.com/photos/simakov" target="_blank">Flickr</a>.

p В общем, всем советую ходить на интенсивы. Время, проведенное на них, просто бесценно.

p
  image src="/images/12/process.jpg"
