- # Когда нет хорошего решения
- # ...
- # 04-04-2015

p Почти каждый день я езжу в метро и размышляю почему какие-то вещи сделаны так, а не иначе, можно ли их сделать лучше.

p Например, схема линии метро над дверьми:

p
  img src="/images/13/example.jpg"

p Красиво ли это? Врятли. Читаемо? Не очень. Почему же сделано так?

p Попробую решить эту задачу.

p Бриф: Компания "Метро" купила вагоны, с настраиваемыми лампочками для подсветки текущего положения поезда. Нужно показать какие отметки каким станциям соответствуют.

p Какие варианты приходят в голову?

h2 Вариант 1. Просто подписать по горизонтали

p
  img src="/images/13/Artboard 1.png"

p Очень мелко. Бабушки не прочитают.

h2 Вариант 2. Сделать переносы

p
  img src="/images/13/Artboard 5.png"

p Сложно прочитать, хоть и крупно.

h2 Вариант 3. Повернуть, чтобы больше влезло

p
  img src="/images/13/Artboard 2.png"

h2 Вариант 4. Написать капсом

p
  img src="/images/13/Artboard 3.png"

p Вроде не плохо. Надо попробовать с разными названиями.

p
  img src="/images/13/Artboard 7.png"

p Читается плохо. Нет ритма.

h2 Вариант 5. Написать более узким шрифтом (Helvetica Neue Condensed)

p
  img src="/images/13/Artboard 8.png"

p Так читать и искать станцию явно проще, но сливается.

p
  img src="/images/13/Artboard 9.png"

p Arial Narrow вроде смотрится читабельней.

p Проблема в том, что читаются все станции недостаточно хорошо. Даже те, которые в при других вариантах читались лучше.

p Чтобы частично решить проблему, можно увеличить те названия, что можно увеличить.

p
  img src="/images/13/Artboard 10.png"

p Уродство, но так слабовидящие люди смогут увидеть хоть часть названий станций и догадаются о том какие станции рядом.

p На кольцевой линии именно такой вариант используют.

h2 Так что же делать, когда все варианты плохие?

p Если задачу по условиям решить невозможно, нужно менять условия.

p Например, если заменить названия станций на числа, их будет легко отображать и вообще искать на схемах.

p
  img src="/images/13/Artboard 11.png"

p Но это не так просто реализовать. Станции достраивают. Нельзя начинать станцию с A1. Потом придется делать станции A0 и -А1. Поэтому нужно думать и решать проблему навигации глобальней, если проблема того стоит.
