- # Знакомство с Ello (соц. сеть)
- # Разбираюсь как создавалась Ello
- # 23-10-2014

p Недавно мне пришло приглашение в Ello. Ello – это социальная сеть, которую называют "антифейсбук".

p Идея Ello в том что в социальной сети должно быть только общение между людьми, а не генерация фида из рекламы. На самом деле идея мне не так важна, а интересно посмотреть как люди создавали новую сеть. Фейсбук уже довольно старый и можно учиться на его ошибках.

p Попробую разобрать как же ее создавали.

p Что самое главное в социальной сети? Общение. Нужно читать и писать. А как читать? Нужно как-то отметить людей, которые интересны.

p Проблема в том, что не все интересные люди одинаково важны. Следовательно, их нужно как-то сгруппировать. Но как?

p Чтобы не изобретать плохой велосипед нужно сначала посмотреть как его делают другие.

p Итак Фейсбук. Есть кнопка "Добавить в друзья". Зачем мне добавлять в друзья? Я хочу подписаться, но есть (была) только эта кнопка. "Друзья" нужны чтобы разделять кого читать и кому писать. Но это не друзья. Это подмена понятий и это явная проблема. Еще можно создавать группы друзей и контролировать кого читаешь.

p Твиттер. Здесь проблема решена уже логично: есть просто кнопка "подписаться". Также есть листы, в которые можно добавлять людей.

p И тот и тот способ довольно сложен. Есть много "групп" друзей, причем по умолчанию все добавляются в общую группу и большинству людей просто лень группировать еще всех. В твиттере листы похоже вобще legacy-фича, так как ее далеко спрятали.

p Так как же решить проблему? А очень просто: не на человеческом уровне. Ello сделал просто 2 типа подписки: Friend и Noise. Соответственно есть 2 таба для фильтрации: друзья и все остальное. Человек сам решает что ему важно настолько чтобы оно было в "Друзьях" а что нет.

p Далее сама кнопка. Имея только два варианта можно исключить лишний шаг из цепочки: подписаться, сгруппировать.

p
  img src="/images/3/buttons.jpg"

p Одним кликом можно все сделать. Это очень круто.

p А как нужно писать? Кому? Может друзьям? Коллегам? Родным? А может друзьям, родным, но не коллегам?

p Фейсбук пошел решать эти проблемы и не справился. Пользователям сложно управлять настройками видимости своих сообщений, да и особо не понятно как. Что, например, будет, если я напишу друзьям, а они расшарят? Да черт его знает.

p А вот Твиттер просто публичный по-умолчанию. Есть возможность стать приватным юзером, самому указать тех, кто сможет видеть посты.

p Ello сделал все очень просто: все что пишешь – публично. Все что не публично – не пишешь.

p Пользователи просто принимают это как данное. Ты пишешь просто всем. Кому нравится – тот тебя читает, кто не хочет – не читает. Такое решение явно проще и понятнее для всех.

p Сеть еще в бете, причем довольно сырой. Уверен позже разработчики впилят дополнительные удобства для организации информации типа Событий, Чатов и других. Надеюсь со временем сеть станет популярной.

p Если нужен инвайт – пишите.

p
  a href="https://ello.co/releu" target="_blank" https://ello.co/releu
