- # Редизайн Verdure Radio
- # Как сделать сайт лучше, оставив все важное.
- # 29-10-2014

p Однажды ночью я зашел на Habrahabr и увидил пост "Как мы сделали радио, и почему нам хочется летать". (<a href="http://habrahabr.ru/post/239043/" target="_blank">ссылка</a>).

p Вкратце, там расказывалось о том как создавалось интернет радио много лет назад. Тема оказалась для меня близкой и я зашел на их сайт, чтобы услышать о что же там звучит.

p
  img src="/images/4/current_version.png"

p Кнопку включения я нашел не сразу. Слева какая-то логинилка через гугл, комментарии... Справа нашелся какой-то кружок и, наконец, заветный зеленый треугольник.

p Радио включилось и даже понравилось. Прочитав до конца пост узнал, что автор меняет каждый месяц фотографии цветов на главной странице. Хоть интерфейс на сайте и не удобный, но контраст темного фона с цветами создает свое настроение, отражающееся и в музыке.

p Я задумался как бы я передалал сайт, оставив главное, но сделав использование удобным и понятным.

p Так почему мне не понравилось на сайте? Потому что, услышав о радио и перейдя на сайт, я хотел узнать самое главное – что там звучит и не смог сделать это сразу.

p А что мне понравилось? Я все-таки не ушел сразу. Меня удержали цветы, создающие общее настроение, которое должно было бы отражаться и в музыке. Без них я бы просто ушел.

p Получается важны 2 вещи: легкое проигрывание музыки и передача общего настроения радио с первой же секунды пребывания.

p В итоге получился такой концепт:

p
  img src="/images/4/concept.png"

p Захотя на сайт видишь те самые цветы, что автор фотографирует. В контраст фотографии выступает синий компьютерный цвет. Музыка, играющая на радио – электронная, созданная компьютерами, поэтому цвет тоже компьютерный. Это чистый Blue.

p Вся верхняя плашка – предложение нажать на "Play". На ней нет призыва, есть просто название радио и описание – музыкальные стили. Приходящий сам решает нажать ли ему "Play".

p При нажатии кнопка превращается в "Pause", а описание радио превращается в бегущую строку с названием композиции.

p
  img src="/images/4/playing.png"

p Внизу есть ссылки на соц-сети, чтобы тем кому понравилось могли перейти по ним и подписаться на новости о радио, узнать что-то о истории.

p Общение лучше строить в соц-сетях. Это могло бы привести друзей слушателей на радио и сделать его популярее.
