- # Редизайн блога
- # ...
- # 14-12-2014

p Последнее время часто замечаю что то, что я делал еще недавно, мне уже не нравится.

p Какие-то рабочие проекты сейчас уже нет смысла и бюджета переделывать, но есть личные. Вот этот блог можно переделывать сколько угодно :)

p Я пришел к факту, что прошлый вариант не совсем то, что я хотел. Оформление личного блога должно отражать то, что любит автор.

p Что может быть настолько сильным, чтобы передать что автор любит? Шрифт. Я люблю шрифты. Особенно люблю современную эволюцию Гельветики.

p Итак, мне нужен кириллический шрифт, причем веб-версия. Выбор совсем не большой, учитывая стоимость шрифтов. По факту приходится ограничиваться ассортиментом Typekit, на который есть подписка. Я выбрал Proxima Nova. Это класный шрифт c большим количеством начертаний и вариантов.

p Используя кастомный шрифт в вебе, нужно быть минималистом. Шрифты много весят. Иногда приходится даже отказываться от жирного и наклонного начертаний.

p Итак, вот что получилось. Было:

p
  img src="/images/6/before.png"

p Стало:

p
  img src="/images/6/after.png"

p Во-первых, изменился первый акцент: сначала он был на названии блога, а теперь на посте. Добавление левого блока явно разделило название и меню от поста. К тому же я сделал его похожим на корешок книги. Сразу, не читая, понятно, что на нем – название.

p Во-вторых, текст стал намного лучше читаться.

p Заодно выпилил и главную страницу сайта. Она по-сути вспомогательная. Перенес ее в меню:

p
  img src="/images/6/menu.png"

p Теперь блог стал еще проще, понятней и выразительней и мне приятно смотреть,  как выглядит текст :)
