- # Дизайн для реального мира
- # ...
- # 10-01-2014

p Я записался на интенсив по веб-дизайну в британку и мне дали список литературы к прочтению. На первом месте была книга “Дизайн для реального мира”, которую я изучил.

p Автор пишет о том, что человечество живет не рационально. Хорошие, качественные вещи могут позволить только обеспеченные люди, которых в рамках всего мира очень мало. Поэтому много усилий и денег расходуются впустую.

p Также автор призывает создавать вещи для всего мира, думать не о продажах, а том как эта вещь решит проблему, не создаст ли новых.

p Дизайнер должен понимать все, что происходит с продуктом от изготовления и до использования. Только так можно сделать что-то действительно хорошее.

p Взять PC и Mac несколько лет назад. Ящик с кучей железа, которое можно заменять, чинить и вечно переставлять операционную систему и компьютер, который не ломается и в котором может разобраться кто угодно. Тут качественно разных подход к решению задачи и разный результат для конечного пользователя.

p Или вот фастфуд – прибыльный бизнес, но создающий проблемы со здоровьем у потребителей. Как такое смогли задизайнить? Это хорошо для мира?

p Автор изъездил весь мир и разбирался в проблемах в бедных странах африки и других, создавал устройства простые и дешевые, решающие проблемы людей.

p Эту книгу, в которых описаны конкретные проблемы человечества и простые способы их решений, советуют всем начинающим дизайнерам, чтобы они понимали, на что расходуют свою жизнь.

p Действительно, это правда важно. Когда понимаешь, что делаешь что-то, что сделает мир лучше, делаешь все правильно, решая настоящие проблемы.
