- # Интенсив по веб-дизайну. День 1
- # ...
- # 12-01-2014

p Вот и закончился первый день интенсива по веб-дизайну в Британской Высшей Школе Дизайна. Расскажу, что же сегодня было.

p Во-первых, создание всего курса – тоже дизайн. Я убедился в этом в самом начале.

p Утром в аудитории собралось человек 30 взрослых людей, которые не особо желали знакомиться. По программе нам нужно будет начать работать вместе, в группах. Нельзя же так просто взять и начать работать с незнакомыми людьми – нужно немного узнать друг друга. Для этого пришел Володя – человек, связанный, по-моему, с театром и кино.

p Володя вытащил всех из зоны комфорта, попросив первым делом убрать столы, встать в круг и начать выполнять идиотские задания :)

p Мы убрали столы и начали ходить толпой по аудитории идиодской походкой, сжимая-разжимая пальцы. Это всех расслабило, развеселило и мы начали выполнять более серьезные задания.

p Сначала нужно было хаотично бродить по аудитории, показывая пальцем на предметы и называть их.

p После, нужно было также бродить, но называть предмет, на который показывал в прошлый раз.

p Далее, нужно было ходить и называть предметы тем, чем они не являются.

p Оказалось, все три задания очень разные и не так просты, как кажутся. Особенно последнее.

p Довольно сложно придумывать случайные слова. Я, лично, привык всегда следовать какой-то логике. Всегда приходит в голову какая-то ассоция, связь, а называть надо вещи быстро, не думая. Через какое-то время все-таки начало получаться.

p Это упражнение, в итоге, прогрело мозг, и подготовило его к креативам. Мы занялись более серьезными вещами.

p Разбившить на пары, мы начали рассказывать друг другу о своих проектах.

p В первой части задания, один человек рассказывает о своем проекте (идее) и его партнеру надо всегда отвечать ему "нет". Все очень быстро, нельзя тормозить и долго думать.

p Удивительно, но когда тебе на разумные вещи постоянно говорят "нет", то мозг просто вскипает и быстро рождает новые идеи, о которых вобще не думал раньше.

p Далее, нужно было отвечать на идеи "да, но ...". Тоесть, как-то возражать, частично соглашаясь. Это упражнение учило быстро убеждать, находить решения на возражения.

p В заключительной части, нужно было отвечать "да, и ...", дополняя предлагаемое решение. Это оказалось очень позитивным и эффективным способом развить какую-либо идею.

p После, мы стали вобще разбираться и историей и повествованием. Разбирались как строятся сценарии фильмов, почему важны детали, почему все детали должны быть важны.

p Мы разбились на группы и рассказывали друг другу истории из жизни. Интересно было услышать историю, которую рассказал одному человеку, который рассказал ее другому, тот третьему и последний рассказал ее обратно тебе. Тут понимаешь, что из рассказанной истории остаются только ключевые моменты и только то, что важно для человека, которому ее рассказываешь. Граммотные истории – это действительно сложно, но важно.

p На этом первый урок был закончен.

p После обеда начался второй урок. Нас отправили разбираться в текущих трендах веб-дизайна. Мы разбились на группы и составили по доске на разные темы: тренды в оформлении, интерфейсах, лендигах, лонгридах. После, все вместе их разобрали.

p
  img src="/images/9/1.jpg"

p
  img src="/images/9/2.jpg"

p
  img src="/images/9/3.jpg"

p
  img src="/images/9/4.jpg"

p Это очень полезно погрузиться в то, что сейчас есть вобще в мире. Теперь в аудитории есть 4 уголка, где можно увидеть, чем сейчас живет веб-мир. Завтра мы получим бриф, по которому будем делать свое дизайнерское решение и будем использовать все то, что узнали сегодня.
